<div class="content-wrap cndn-wrap">
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content title-block">
                    <h1 class="title type-2">
                        Designations ({{designations.length}})
                    </h1>
                    <!-- <p class="subtitle">Masters / JV Masters / Employee Designation Designations</p> -->
                </div><!-- Page Header Content -->
                <div class="page-header-content button-block">
                    <button class="btn btn-bordered my-tooltip" data-toggle="modal" data-target="#designation-filter-modal" ng-shortcut="'meta+shift+f'" ng-shortcut-click data-title="ctrl+shift+f"><i class="icon ion-md-funnel"></i>Filter</button>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
            <div class="page-header-content-right">
                <div class="page-header-content indicator-block">
                    <ul class="indicator-list">
                        <li class="green">Active</li>
                        <li class="red">In Active</li>
                    </ul>
                </div><!-- Page Header Content -->
                <div class="page-header-content reset-block">
                    <div class="reset-wrap">
                        <button class="btn-reset reset-tooltip refresh_table my-tooltip" ng-shortcut="'meta+shift+r'" ng-shortcut-click data-title="ctrl+shift+r">
                            <img class="img-responsive" src="./public/theme/img/content/reset.svg" alt="Reset" />
                        </button>
                    </div>
                </div><!-- Page Header Content -->
                <div class="page-header-content button-block" ng-show="$ctrl.add_permission">
                    <a href="javascript:;" class="btn btn-primary my-tooltip" ng-click="showDesignationForm({})" ng-shortcut="'meta+shift+n'" ng-shortcut-click data-title="ctrl+shift+n">Add New</a>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Right -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <div class="page-main-content">
        <br />
        <div class="container-fluid" style="overflow-x: scroll;">
            <div style="width: 5000px;" class="row" dnd-list="$ctrl.designations" dnd-allowed-types="'designation'" dnd-drop="updateModulePriority(item,index)">
                <div class="col-md-3" style="width: 100%; max-width: 350px; float: left;" dnd-draggable="designation" dnd-effect-allowed="move" dnd-moved="$ctrl.designations.splice(key1, 1)" dnd-type="'designation'" ng-repeat="(key1, designation) in designations">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{designation.name}} ({{designation.short_name}})
                            </h3>
                            <div>
                                <span class="label label-danger">
                                    <md-tooltip md-direction="top">
                                        Status
                                    </md-tooltip>
                                    {{designation.status}}
                                </span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-default" ng-click="showDesignationForm(designation)" title="Edit Designation">
                                        <md-tooltip md-direction="top">
                                            Edit Designation
                                        </md-tooltip>
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" ng-click="$ctrl.module=module;showTaskForm({},0,$event)" title="Add Employee">
                                        <md-tooltip md-direction="top">
                                            Add Employee to {{designation.name}} Designation
                                        </md-tooltip>
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" ng-click="deleteDesignation(designation.id,$event)">
                                        <md-tooltip md-direction="top">
                                            Delete Designation
                                        </md-tooltip>
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="panel panel-default" ng-repeat="(key, employee) in designation.employees">
                                <div class="panel-heading">
                                    {{employee.user.first_name}} {{employee.user.last_name}}
                                </div>
                                <div class="panel-body">
                                    <span class="label label-default">
                                        <md-tooltip md-direction="top">
                                            Employee code
                                        </md-tooltip>
                                        {{employee.code}}
                                    </span>
                                    <span class="label label-primary" ng-if="employee.github_username">
                                        {{employee.github_username}}
                                    </span>
                                    <span class="label label-default">
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                        {{employee.user.email}}
                                    </span>
                                    <span class="label label-success" ng-if="employee.personal_email">
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                        {{employee.personal_email}}
                                    </span>
                                    <span class="label label-danger">
                                        {{employee.user.username}}
                                    </span>
                                    <span class="label label-primary">
                                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                                        {{employee.user.mobile_number}}
                                    </span>
                                    <span class="label label-info" ng-if="employee.alternate_mobile_number">
                                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                                        {{employee.alternate_mobile_number}}
                                    </span>
                                    <span class="label label-warning" ng-if="employee.date_of_join">
                                        {{employee.date_of_join}}
                                    </span>
                                </div>
                                <div class="panel-footer"> </div>
                            </div>
                            <div ng-if="designation.employees.length==0">
                                No employees found
                            </div>
                        </div>
                        <div class="panel-footer">
                            &nbsp;
                        </div>
                    </div>
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Filter Modal -->
<div class="modal fade filter" id="designation-filter-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">Employee Designation Designation Filter</h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="modal-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Employee Designation Name</label>
                                <input type="text" class="form-control" id="designation_name" name="designation_name" placeholder="Enter Employee Designation Name" autocomplete="off">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="input-text form-group">
                                <label>Status</label>
                                <md-select ng-model="$ctrl.designation.status" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" ng-change="onSelectedStatus($ctrl.designation.status)" placeholder="Select Status">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchTerm" type="search" placeholder="Search for a Status" class="demo-header-searchbox md-text">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="status.id" ng-repeat="status in $ctrl.status | filter:searchTerm">{{status.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" class="form-control" name="status" id="status" value="">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <button type="button" class="btn btn-rose my-tooltip" ng-click="reset_filter();$ctrl.designation.status=''" ng-shortcut="'meta+shift+t'" ng-shortcut-click data-title="ctrl+shift+t">Reset Filter</button>
                        </div>
                    </div><!-- Row -->
                </div><!-- Modal Form -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<!-- Modal -->
<div class="modal fade alert-modal failure" id="designation-delete-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">ARE YOU SURE?</h4>
            </div>
            <div class="modal-body">
                <h5>Delete</h5>
                <p>You can’t retrive the data again, Are you sure you want to delete? </p>
                <input type="hidden" name="designation_id" id="designation_id" value="">
                <button class="btn btn-grey" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button class="btn btn-rose" ng-click="deleteConfirm()" type="button" data-dismiss="modal" aria-label="Close">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<ng-include src="designation_modal_form_template_url" ng-init="designation = $ctrl.designation"></ng-include>
