<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/employee-pkg/employee/list" type="button" class="btn-back btn-img">
                        <img class="img-responsive my-tooltip" src="./public/theme/img/content/previous.svg" alt="Back" ng-shortcut="'meta+shift+left'" ng-shortcut-click data-title="ctrl+shift+left" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>{{$ctrl.action}} Employee</b></h1>
                    <p class="subtitle">
                        <a href="#!/employee-pkg/employee/list">
                            Employees
                        </a> /
                        {{$ctrl.action}}
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <form id="form" autocomplete="off" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{$ctrl.employee.id}}">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                            <!-- Filters -->
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills cndn-tabs">
                                    <li class="active">
                                        <a class="filter active" data-target="#general-information" data-toggle="tab" aria-expanded="true">
                                            General Info
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="general-information" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Employee Code
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.employee.code" name="code" placeholder="Enter Employee Code" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    First Name
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control" ng-model="$ctrl.employee.user.first_name" name="user[first_name]" placeholder="Enter First Name" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Last Name
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control" ng-model="$ctrl.employee.user.last_name" name="user[last_name]" placeholder="Enter Last Name" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Official Email
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="email" class="form-control required" ng-model="$ctrl.employee.user.email" name="user[email]" placeholder="Enter Official Email ID" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Mobile Number
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.employee.user.mobile_number" name="user[mobile_number]" placeholder="Enter Mobile Number" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Personal Email
                                                </label>
                                                <input type="email" class="form-control" ng-model="$ctrl.employee.personal_email" name="personal_email" placeholder="Enter Personal Email" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Alternate Mobile Number
                                                </label>
                                                <input type="text" class="form-control" ng-model="$ctrl.employee.alternate_mobile_number" name="alternate_mobile_number" placeholder="Enter Alternate Mobile Number" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    GitHub Username
                                                </label>
                                                <input type="text" class="form-control" ng-model="$ctrl.employee.github_username" name="github_username" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Username
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control" ng-model="$ctrl.employee.user.username" name="user[username]" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Change Password <sup class="mandatory">*</sup></label>
                                                <div class="tab-switch">
                                                    <md-switch ng-model="$ctrl.switch_password" aria-label="Switch 2" ng-change="psw_change($ctrl.switch_password)" ng-true-value="'No'" ng-false-value="'Yes'" class="md-warn type-2">
                                                        {{ $ctrl.switch_password }}
                                                    </md-switch>
                                                    <input type="hidden" id="password_change" name="password_change" value="{{$ctrl.switch_password}}" class="required">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3" id="hide_password">
                                            <div class="input-text form-group">
                                                <label>
                                                    Password
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="password" class="form-control" ng-model="$ctrl.employee.user.password" name="user[password]" id="password" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-6">
                                            <div class="profile-upload">
                                                <!-- <img class="img-responsive" src="{{ URL::asset('public/theme/img/content/profile.jpg') }}" alt="Profile Upload" /> -->
                                                <div class="avatar-upload">
                                                    <div class="avatar-edit">
                                                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" name="attachment" />
                                                        <label for="imageUpload"><i class="ion-md-create"></i></label>
                                                    </div>
                                                    <div class="avatar-preview">
                                                        <div class="avatar-img" id="imagePreview" style="background-image: url(' {{$ctrl.employee_attchment_url}}/{{$ctrl.employee.user.profile_image.name}}');">
                                                        </div>
                                                    </div>
                                                </div><!-- Avatar Upload -->
                                                <p class="img-caption">UPLOAD PICTURE</p>
                                            </div><!-- Profile Upload -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Active Status
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <div class="tab-switch">
                                                    <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                        {{ $ctrl.switch_value }}
                                                    </md-switch>
                                                    <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                                </div>
                                            </div><!-- Form Group -->
                                        </div><!-- Column -->
                                        <div class="col-sm-3">
                                            <div class="separate-form-group">
                                                <label>Designation</label>
                                                <ui-select ng-model="$ctrl.employee.designation_id" theme="select2">
                                                    <ui-select-match placeholder="Select Designation">
                                                        {{$select.selected.name || $select.selected}}
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="i.id as i in $ctrl.designation_list | propsFilter: {name: $select.search}">
                                                        <div ng-bind-html="i.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <input type="hidden" name="designation_id" value="{{$ctrl.employee.designation_id}}" class="">
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-cancel my-tooltip" href="#!/employee-pkg/employee/list" ng-shortcut="'meta+shift+left'" ng-shortcut-click data-title="ctrl+shift+left">Cancel</a>
                                                    <button type="submit" id="submit" class="btn btn-primary my-tooltip" ng-shortcut="'meta+shift+s'" ng-shortcut-click data-title="ctrl+shift+s">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
